# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/_tmp
/src/build
/src/Gateway/config.h
/src/Gateway/data/*.crt
/src/Firmware/MYSBootloader/.vs
/src/Firmware/MYSBootloader/build.cmd
/src/SensorFake/core/*.h
/src/SensorReley/core/*.h
/src/SensorReleyButton/core/*.h
/src/SensorDimmerLed/core/*.h